.container {
    justify-content: start;
    height: 420px;
    width: 100%;
    border-radius: 20px;
    background-color: #00464e;
    margin-top: 66px;
    padding-top: 36px;
    padding-left: 48px;
    padding-right: 42px;
}

.tipContainer,
.totalContainer {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .totalContainer {
    padding-top: 36px;
} */

.tipAmountTitle,
.totalAmountTitle {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;

}

.person {
    font-size: 20px;
    color: #62797b;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 12px;
}

.amountTip,
.amountTotal {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    color: #2ac3ae;
}


.btnReset {
    height: 72px;
    color: #00464e;
    font-size: 28px;
    font-weight: 700;
    background-color: #2ac3ae;
    border-radius: 10px;
    margin-top: 24px;

}




@media screen and (min-width: 1000px) {
    .container {
        height: 352px;
        width: 332px;
        margin-top: 0px;
        padding-top: 60px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .tipContainer,
    .totalContainer {
        height: 36px;
    }

    .totalContainer {
        padding-top: 12px;
    }

    .tipAmountTitle,
    .totalAmountTitle {
        font-size: 10px;
        letter-spacing: 1px;
    }

    .person {
        font-size: 10px;
        letter-spacing: 1px;
        margin-top: 10px;
    }

    .amountTip,
    .amountTotal {
        font-size: 36px;
    }

    .btnReset {
        height: 48px;
        font-size: 16px;
        background-color: #2ac3ae;
        margin-top: 84px;

    }

}